@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.root {
    height: 70vh;
    width: 100%;
    background-color: $color-main;
    background: url('https://images.pexels.com/photos/8253222/pexels-photo-8253222.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        .title {
            color: $color-white;
            font-family: $font-main;
            font-size: 120px;
        }
    }
}


@include tablet {
    .root {
       height: 80vh;
    }
}

@include mobile {
    .root {
        display: none;
    }
}