@import '../../../styles/settings.scss';

.root {
    background-color: $color-main;
    .footerBar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        .iconBar {
            .icon {
                cursor: pointer;
                color: $color-white;
                width: 30px;
                &:hover {
                    transform: scale(1.5);
                    transition: 1s all;
                }
            }
        }
    }
    .copyright {
        display: flex;
        justify-content: center;
        span {
            color: $color-white;
            padding-bottom: 10px;
            font-family: $font-main;
        }
    }
}